/*.ns {
    &::before {
        content: "NS";
        display: inline-block;
        background: var(--color-primary);
        color: #FFF;
        font-size: .7em;
        padding: 2px 3px;
        border-radius: 3px;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}*/
