:root {
  scroll-behavior: auto;
  --color-body: #feffff;
  --color-primary: rgb(60, 173, 239);
  --color-primary-rgb: 60, 173, 239;
  --color-primary-hover: rgb(42, 128, 179);
  --color-primary-hover-rgb: 42, 128, 179;
  --color-secondary: rgb(21, 32, 43);
  --color-secondary-rgb: 21, 32, 43;
  --color-confirmed: var(--color-primary);
  --color-unconfirmed: #e1301c;
  --color-orphaned: gold;
  --color-orange: #f2952c;
  --color-owner: var(--color-orange);
  --bg-body: var(--color-body);
  --bg-tile: #FFF;
  --bg-list-item-header: var(--color-body);
  --bg-io-list: #f2f5f8;
  --bg-stat-tile: #f2f5f8;
  --text: #55585a;
  --text-light: #FFF;
  --text-dark: #000;
  --text-io-list-value: var(--text-light);
  --border-color: #e2e8ee;
  --border: 1px solid var(--border-color);
  --border-radius: 6px;
  --padding: 1rem;
  --padding-sm: .5rem;
  --padding-lg: 2rem;
  --header-bg: var(--color-secondary);
  --footer-bg: var(--color-secondary);
  --transition: all .2s ease;
  --element-details-header-text: Var(--text);
  --box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, .2);
  --tile-link-icon: var(--border-color);
  --btn-hover-color: rgba(60, 173, 239, .25);
  --pool-pktpool: #4dd4ac;
  --pool-pktworld: #FCB97D;
  --pool-pkteer: #FF66B3;
  --pool-zetahash: #3cadef;
  --bs-primary: var(--color-primary);
  --bs-primary-rgb: var(--color-primary-rgb);
  --bs-link-color: var(--color-primary);
  --bs-link-color-rgb: var(--color-primary-rgb);
  --bs-link-hover-color: var(--color-primary-hover);
  --bs-link-hover-color-rgb: var(--color-primary-hover-rgb);
}

html[data-theme=dark] {
  --color-body: #15202b;
  --color-secondary: #FFF;
  --color-unconfirmed: #ee4c3a;
  --header-bg: #15202b;
  --footer-bg: #000;
  --bg-tile: #1f2b38;
  --bg-list-item-header: #28394a;
  --bg-io-list: #28394a;
  --bg-stat-tile: var(--bg-body);
  --border-color: #000;
  --text: #d7d9dd;
  --text-light: var(--text-dark);
  --text-io-list-value: var(--text-dark);
  --element-details-header-text: #000;
  --box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  --btn-dark-bg: #28394a;
  --btn-dark-bg-hover: #384d62;
  --tile-link-icon: #71757d;
  --bs-heading-color: var(--text);
}

@media (prefers-color-scheme: dark) {
  html[data-theme=system] {
    --color-body: #15202b;
    --color-primary: #3bb18e;
    --color-secondary: #FFF;
    --color-unconfirmed: #ee4c3a;
    --header-bg: #15202b;
    --footer-bg: #000;
    --bg-tile: #1f2b38;
    --bg-list-item-header: #28394a;
    --bg-io-list: #28394a;
    --bg-stat-tile: var(--bg-body);
    --border-color: #000;
    --text: #d7d9dd;
    --text-light: var(--text-dark);
    --text-io-list-value: var(--text-dark);
    --element-details-header-text: #000;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    --btn-dark-bg: #28394a;
    --btn-dark-bg-hover: #384d62;
    --tile-link-icon: #71757d;
    --bs-heading-color: var(--text);
  }
}

html {
  font-size: 15px;
}
@media (min-width: 420px) {
  html {
    font-size: 16px;
  }
}

body {
  background: var(--bg-body);
  font-family: "Inter Tight", sans-serif;
  color: var(--text);
}

.main-content {
  margin-bottom: 5rem;
}

.break-word {
  word-break: break-all;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

.text-xl {
  font-size: 1.6rem;
  font-weight: 600;
}

.text-muted {
  color: inherit !important;
  opacity: 0.7;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 2s linear infinite forwards;
}

.page-scaffold {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.tile {
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--bg-tile);
  box-shadow: var(--box-shadow);
}
.tile .title {
  font-size: 0.9rem;
  opacity: 0.8;
}
.tile.new-feature {
  position: relative;
  overflow: hidden;
}
.tile.new-feature::after {
  content: "New";
  position: absolute;
  top: 14px;
  right: -36px;
  padding: 0.2rem 40px;
  background: var(--color-primary);
  color: #FFF;
  transform: rotate(45deg);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.tile-link {
  display: block;
  width: 100%;
  color: var(--text);
  transition: var(--transition);
  position: relative;
}
.tile-link .body {
  display: flex;
  grid-gap: 1rem;
  align-items: center;
  transition: var(--transition);
}
.tile-link .content {
  flex: 1;
}
.tile-link .control .icon {
  font-size: 2rem;
  display: block;
  color: var(--tile-link-icon);
  transition: var(--transition);
}
.tile-link:hover {
  background: var(--bg-tile);
  border-color: var(--color-primary);
}
.tile-link:hover .control .icon {
  color: var(--color-primary);
}
.tile-link .loading-state {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
  opacity: 0;
  transition: var(--transition);
}
.tile-link .loading-state .icon {
  display: block;
}
.tile-link.loading .body {
  opacity: 0;
}
.tile-link.loading .loading-state {
  opacity: 1;
}

.element-details {
  position: sticky;
  top: 1rem;
  border-color: var(--color-primary);
}
.element-details .header {
  background: var(--color-primary);
  margin: calc(var(--padding) * -1) calc(var(--padding) * -1) var(--padding) calc(var(--padding) * -1);
  padding: var(--padding);
  border-bottom: var(--border);
  word-break: break-all;
  border: none;
  color: var(--element-details-header-text);
}
.element-details .header .title {
  display: block;
}
.element-details .header .hash {
  word-break: break-all;
  font-size: 1.4rem;
  line-height: 1.1;
  display: block;
}
.element-details .balance {
  padding-top: var(--padding);
  padding-bottom: calc(var(--padding) / 2);
}
.element-details .expandable-content {
  margin-bottom: 0;
}
.element-details .expanded .expandable-content-control {
  display: none;
}
.element-details .expandable-content-control {
  text-align: center;
  background: var(--bg-body);
  margin: var(--padding) calc(var(--padding) * -1) calc(var(--padding) * -1) calc(var(--padding) * -1);
  padding: var(--padding-sm) var(--padding);
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.address-details .header .address-account {
  display: flex;
  align-items: flex-start;
  grid-gap: 1rem;
}
.address-details .header .address-account > div:nth-child(2) {
  flex: 1;
}
.address-details .header .address-account h1 {
  color: inherit;
}
.address-details .header .qr-code {
  padding: 0.5rem;
  background: var(--bg-tile);
  border-radius: var(--border-radius);
  width: calc(80px + 1rem);
  height: calc(80px + 1rem);
}
.address-details .save-address-control {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  top: -17px;
  right: -1px;
}

.announcement {
  display: flex;
  padding: 0;
  border-color: var(--color-orphaned);
  margin-bottom: var(--padding);
}
.announcement .icon {
  padding: 1rem;
  background: var(--color-orphaned);
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}
.announcement .body {
  padding: 0.5rem;
}
.announcement .title {
  font-size: 1rem;
  opacity: 1;
}
.announcement .message {
  font-size: 0.9rem;
  opacity: 0.8;
}
.announcement .controls {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0.5rem;
  color: black;
  opacity: 0.5;
}
.announcement .controls * {
  display: block;
}
.announcement .controls a {
  color: var(--text);
  opacity: 0.5;
  transition: var(--transition);
}
.announcement .controls a:hover {
  opacity: 1;
}

.block-list .list-item {
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 0.5rem;
}
@media (min-width: 768px) {
  .block-list .list-item {
    grid-template-columns: 2fr 1fr 1fr 77px;
  }
}
.block-list .list-item .title {
  font-size: 0.9rem;
  opacity: 0.8;
}

.block-navigation {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.block-navigation::before {
  content: "";
  height: 1px;
  background: var(--border-color);
  position: absolute;
  top: 50%;
  left: 12px;
  right: 12px;
}
@media (min-width: 576px) {
  .block-navigation::before {
    left: 126px;
    right: 126px;
  }
}
.block-navigation .tile {
  position: relative;
  z-index: 1;
  min-width: 0;
  min-width: 146px;
  padding: var(--padding-sm);
}
@media (min-width: 576px) {
  .block-navigation .tile {
    padding: var(--padding);
  }
}
.block-navigation .btn-block {
  display: inline-flex;
  align-items: center;
  text-align: center;
  min-width: 0;
  color: var(--text);
}
@media (min-width: 576px) {
  .block-navigation .btn-block {
    min-width: 146px;
  }
}
.block-navigation .btn-block > div {
  flex: 1;
  display: none;
}
@media (min-width: 576px) {
  .block-navigation .btn-block > div {
    display: block;
  }
}
.block-navigation .btn-block::after {
  content: "";
  width: 20px;
  height: 20px;
  border: var(--border);
  background: var(--bg-tile);
  border-radius: 1000px;
  position: absolute;
  transition: all 0.15s ease-in-out;
}
.block-navigation .btn-block.btn-block-previous {
  padding-left: var(--padding-sm);
}
.block-navigation .btn-block.btn-block-previous > div {
  padding-right: 0.5rem;
}
.block-navigation .btn-block.btn-block-previous::after {
  right: -10px;
}
.block-navigation .btn-block.btn-block-next {
  padding-right: var(--padding-sm);
  justify-content: flex-end;
}
.block-navigation .btn-block.btn-block-next > div {
  padding-left: 0.5rem;
}
.block-navigation .btn-block.btn-block-next::after {
  left: -10px;
}
.block-navigation .btn-block:hover:not(.disabled-state), .block-navigation .btn-block:active:not(.disabled-state) {
  border-color: var(--color-primary) !important;
  background-color: var(--bg-tile);
}
.block-navigation .btn-block:hover:not(.disabled-state)::after, .block-navigation .btn-block:active:not(.disabled-state)::after {
  border-color: var(--color-primary);
}
.block-navigation .btn-block.disabled-state {
  cursor: default;
  border: var(--border) !important;
  background: var(--bg-tile);
}
.block-navigation .btn-block.disabled-state > div, .block-navigation .btn-block.disabled-state .icon {
  opacity: 0.4;
}

.btn.btn-icon > span {
  display: block;
}
.btn.btn-xs {
  padding: 0.15rem 0.25rem;
}
.btn.btn-xs.btn-icon > span {
  font-size: 20px;
}
.btn.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color-primary);
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color-primary-hover);
  --bs-btn-hover-border-color: var(--color-primary-hover);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-primary-hover);
  --bs-btn-active-border-color: var(--color-primary-hover);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--color-primary);
  --bs-btn-disabled-border-color: var(--color-primary);
}
.btn.btn-outline-primary {
  --bs-btn-color: inherit;
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color-primary);
  --bs-btn-hover-border-color: var(--color-primary);
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-primary);
  --bs-btn-active-border-color: var(--color-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  --bs-btn-disabled-color: var(--color-primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--color-primary);
}

.btn-light {
  --bs-btn-border-color: #e2e2e2;
}

.btn-group {
  padding: 5px;
  grid-gap: 5px;
}
.btn-group .btn {
  border-radius: 4px !important;
}
.btn-group .btn:hover {
  background-color: var(--btn-hover-color);
  color: #FFF !important;
}
.btn-group .btn-check:checked + .btn {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff !important;
}

html[data-theme=dark] .btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}
html[data-theme=dark] .btn-light {
  --bs-btn-bg: var( --btn-dark-bg);
  --bs-btn-border-color: var(--border-color);
  --bs-btn-color: #FFF;
}
html[data-theme=dark] .btn-light:hover {
  --bs-btn-hover-bg: var(--btn-dark-bg-hover);
  --bs-btn-hover-border-color: var(--border-color);
  --bs-btn-hover-color: #FFF;
}

@media (prefers-color-scheme: dark) {
  html[data-theme=system] .btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  }
}
@media (prefers-color-scheme: dark) and (prefers-color-scheme: dark) {
  html[data-theme=system] .btn-light {
    --bs-btn-bg: var( --btn-dark-bg);
    --bs-btn-border-color: var(--border-color);
    --bs-btn-color: #FFF;
  }
  html[data-theme=system] .btn-light:hover {
    --bs-btn-hover-bg: var(--btn-dark-bg-hover);
    --bs-btn-hover-border-color: var(--border-color);
    --bs-btn-hover-color: #FFF;
  }
}

.clipboard-copy {
  transition: var(--transition);
  cursor: pointer;
  border-radius: var(--border-radius);
  position: relative;
  margin: 0;
  color: inherit;
}
.clipboard-copy .icon {
  color: #FFF;
  font-size: 18px;
  position: relative;
  top: 2px;
  left: -7px;
  opacity: 0.6;
  transition: var(--transition);
  display: inline-block;
}
.clipboard-copy .icon::before {
  content: "\e14d";
  font-family: "Material Icons";
  display: block;
}
.clipboard-copy:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}
.clipboard-copy:hover .icon {
  opacity: 1;
}
.clipboard-copy::after {
  content: "Copied";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  color: #FFF;
  padding: 0.25rem 1rem;
  border-radius: 1000px;
  font-size: 0.8rem;
  opacity: 0;
  transition: var(--transition);
}
.clipboard-copy.copied::after {
  opacity: 1;
}

/* Hack to prevent charts causing horizontal overflow on mobile.
// This rule will be overwritten at larger breakpoints by Bootstrap. */
@media (max-width: 575.98px) {
  .container {
    max-width: 100vw;
  }
}
@media (max-width: 768px) {
  .dashboard-content-block .col-auto {
    padding-right: 0;
  }
}
.dashboard-content-block .pkt-icon {
  width: auto;
  height: 50px;
}
@media (min-width: 768px) {
  .dashboard-content-block .pkt-icon {
    width: auto;
    height: 70px;
  }
}
.dashboard-content-block .save-icon {
  font-size: 58px;
}
@media (min-width: 768px) {
  .dashboard-content-block .save-icon {
    font-size: 80px;
  }
}
.dashboard-content-block a {
  color: inherit;
  border-bottom: 1px solid var(--color-primary);
  transition: var(--transition);
}
.dashboard-content-block a:hover {
  background: var(--color-primary);
  box-shadow: 0 0 0 3px var(--color-primary);
  color: #FFF;
}

.dropup .dropdown-menu {
  --bs-dropdown-border-color: var(--border-color);
  --bs-dropdown-border-radius: var(--border-radius);
  --bs-dropdown-min-width: 0;
  top: 27px;
  right: 0;
}
.dropup .dropdown-item {
  font-size: 0.8rem;
}
.dropup .dropdown-item:active {
  background: var(--color-primary);
}
.dropup.active .dropdown-menu {
  display: block;
}

.expandable-content:not(.expanded) .expandable {
  display: none;
}
.expandable-content:not(.expanded) .expandable-content-control {
  display: flex;
  align-items: center;
  justify-content: center;
}
.expandable-content:not(.expanded) .expandable-content-control > span {
  transform: rotate(180deg);
}
.expandable-content:not(.expanded) .expandable-content-control:active {
  background: inherit;
}

.form-control:not(.form-control-light) {
  background: var(--header-bg);
  color: var(--color-primary);
  font-weight: 300;
}
.form-control:not(.form-control-light)::-moz-placeholder {
  color: var(--color-primary);
  opacity: 0.7;
}
.form-control:not(.form-control-light)::placeholder {
  color: var(--color-primary);
  opacity: 0.7;
}
.form-control:not(.form-control-light):focus {
  background: var(--header-bg);
  color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.25rem rgba(60, 173, 239, 0.25);
}

.hash {
  font-family: monospace;
  font-family: "Roboto Mono", monospace;
  line-height: 1.1;
}

.main-header {
  background: var(--header-bg);
  padding: var(--padding-sm) 0.75rem;
}
@media (min-width: 576px) {
  .main-header {
    --header-bg: #000;
    padding: var(--padding-sm) var(--padding-lg);
  }
}
.main-header > .row {
  display: flex;
  align-items: center;
}
.main-header > .row .col:nth-child(1) {
  display: flex;
  align-items: center;
}
.main-header a {
  display: inline-flex;
  align-items: center;
  height: 34px;
}
.main-header .logo {
  height: 28px;
}
@media (min-width: 576px) {
  .main-header .logo {
    height: 34px;
  }
}
.main-header .controls {
  display: flex;
  align-items: center;
}
.main-header .search-control {
  margin-right: 0.5rem;
}
.main-header .search-control .desktop {
  display: none;
}
@media (min-width: 620px) {
  .main-header .search-control .desktop {
    display: block;
  }
  .main-header .search-control .mobile {
    display: none;
  }
}
.main-header .side-menu-control .icon {
  font-size: 30px;
}
.home-page .main-header .search-control {
  display: none;
}

.key {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  white-space: nowrap;
  grid-gap: 1rem;
  font-size: 0.8rem;
}
@media (min-width: 512px) {
  .key {
    font-size: 1rem;
  }
}
.key .item {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}
.key .pool-indicator {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 1000px;
  background: #f2f2f2;
  flex: 0 0 0.8rem;
}
@media (min-width: 512px) {
  .key .pool-indicator {
    width: 1rem;
    height: 1rem;
    flex: 0 0 1rem;
  }
}
.key .pktpool .pool-indicator {
  background: var(--pool-pktpool);
}
.key .pktworld .pool-indicator {
  background: var(--pool-pktworld);
}
.key .pkteer .pool-indicator, .key .superphenix .pool-indicator {
  background: var(--pool-pkteer);
}
.key .zetahash .pool-indicator {
  background: var(--pool-zetahash);
}

.main-footer {
  background: var(--footer-bg);
  color: #FFF;
  padding: 2rem 0;
}
.main-footer .donate {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  margin-top: 1rem;
}
@media (min-width: 576px) {
  .main-footer .donate {
    margin-top: 0;
  }
}
.main-footer .donate .icon {
  color: hotpink;
}
.main-footer .pkt-watch-logo img {
  display: block;
  height: 30px;
}
@media (min-width: 576px) {
  .main-footer .pkt-watch-logo img {
    height: 40px;
  }
}

.list-title, .list-title-sm {
  padding-left: var(--padding);
}
.list-title + .list-subtitle, .list-title + .list-subtitle-sm, .list-title-sm + .list-subtitle, .list-title-sm + .list-subtitle-sm {
  margin-top: -0.5rem;
}

.list-title-sm {
  padding-left: var(--padding-sm);
}

.list-subtitle, .list-subtitle-sm {
  padding-left: var(--padding);
  font-size: 0.8rem;
  opacity: 0.6;
  margin-bottom: 0.5rem;
}

.list-subtitle-sm {
  padding-left: var(--padding-sm);
}

.masthead {
  background: var(--header-bg);
  color: #FFF;
  padding: 3rem 0 10rem;
  margin-bottom: -6rem;
  background-image: radial-gradient(rgba(var(--color-primary-rgb), 0.5) 1px, var(--header-bg) 1px);
  background-size: 10px 10px;
  position: relative;
}
.masthead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(345deg, rgba(var(--color-secondary-rgb), 0) 0%, rgba(var(--color-secondary-rgb), 1) 70%);
}
.masthead h1 {
  margin-bottom: 1rem;
  font-size: 22px;
}
@media (min-width: 576px) {
  .masthead h1 {
    margin-bottom: 2rem;
    font-size: calc(1.375rem + 1.5vw);
  }
}
.masthead .search-control .icon {
  font-size: 2rem;
}
.masthead .search-control input {
  padding-left: 3.5rem;
}
.masthead .masthead-content {
  padding: 0 16px;
  position: relative;
}
@media (min-width: 576px) {
  .masthead .masthead-content {
    padding: 0 32px;
  }
}

@keyframes masthead-bg-anim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20px 20px;
  }
}
.mining-stats .chart-grid {
  height: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(6, min-content);
}
@media (min-width: 768px) {
  .mining-stats .chart-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, 1fr);
  }
  .mining-stats .chart-grid > .tile:nth-child(odd) {
    grid-column: 1/3;
  }
  .mining-stats .chart-grid > .tile:nth-child(even) {
    grid-column: 3/5;
  }
  .mining-stats .chart-grid > .tile:first-child {
    grid-column: 1/4;
  }
  .mining-stats .chart-grid > .tile:nth-child(2) {
    grid-column: 4/5;
  }
}
.mining-stats .chart-grid .tile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  overflow: hidden;
  position: relative;
}
.mining-stats .chart-grid .tile .title {
  font-size: 1rem;
}
.mining-stats .chart-grid .tile.loading:not(:first-child) {
  display: none;
}
.mining-stats .chart-grid .tile.loading::after {
  content: "Loading data...";
  white-space: nowrap;
  color: var(--text);
  background: var(--bg-stat-tile);
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mining-stats .chart-grid .tile.loading .title {
  opacity: 0;
}
.mining-stats .chart-grid .tile.loading .stats-grid {
  display: none;
}
.mining-stats .chart-grid .tile.no-data:not(:first-child) {
  display: none;
}
.mining-stats .chart-grid .tile.no-data::after {
  content: "No data available.";
  white-space: nowrap;
  color: var(--text);
  background: var(--bg-stat-tile);
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mining-stats .chart-grid .tile.no-data .title {
  opacity: 0;
}
.mining-stats .chart-grid .tile.no-data .stats-grid {
  display: none;
}
.mining-stats .chart-grid .chart-container {
  flex: 1 1 200px;
  overflow: hidden;
}
.mining-stats .stats-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.mining-stats .stats-grid .tile {
  grid-gap: 0;
  box-shadow: none;
  background: var(--bg-stat-tile);
  border: none;
  border-radius: 0;
}
.mining-stats .stats-grid .tile .title {
  font-size: 1rem;
}
.mining-stats .stats-grid .tile .stat {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}
.mining-stats .stats-flex {
  display: flex;
  grid-gap: 0.5rem;
}
.mining-stats .stats-flex .tile {
  grid-gap: 0;
  box-shadow: none;
  background: var(--bg-stat-tile);
  border: none;
  border-radius: 0;
}
.mining-stats .stats-flex .tile .title {
  font-size: 1rem;
}
.mining-stats .stats-flex .tile .stat {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}

#mining-stats-container .mining-stats {
  margin-top: 1rem;
}
#mining-stats-container .mining-stats .chart-grid {
  height: auto;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: none;
}
#mining-stats-container .mining-stats .chart-grid > .tile {
  grid-column: 1;
}
#mining-stats-container .mining-stats .chart-grid > .tile:nth-child(2) {
  display: none;
}
#mining-stats-container .mining-stats-controls-container .search-control {
  display: none;
}

#mining-dashboard {
  padding: 2rem 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-areas: "header" "controls" "main-dashboard" "block-list";
}
@media (min-height: 1500px) {
  #mining-dashboard {
    grid-gap: 2rem;
  }
}
@media (min-width: 1440px) {
  #mining-dashboard {
    height: calc(100vh - 50px - 104px);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-areas: "header main-dashboard main-dashboard" "controls main-dashboard main-dashboard" "block-list main-dashboard main-dashboard";
  }
}
@media (min-width: 2160px) {
  #mining-dashboard {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-areas: "header main-dashboard main-dashboard main-dashboard" "controls main-dashboard main-dashboard main-dashboard" "block-list main-dashboard main-dashboard main-dashboard";
  }
}
#mining-dashboard > .header {
  grid-area: header;
}
#mining-dashboard > .header h1 {
  display: flex;
}
#mining-dashboard .mining-stats-controls-container {
  grid-area: controls;
}
#mining-dashboard .mining-stats-controls-container .address-search-control .form-control {
  background: var(--bg-tile);
}
#mining-dashboard .address-details {
  grid-area: address-details;
  position: relative;
  top: 0;
}
#mining-dashboard .blocks-list-container {
  grid-area: block-list;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
#mining-dashboard .main-dashboard {
  grid-area: main-dashboard;
  display: flex;
  flex-direction: column;
}
#mining-dashboard > .row {
  height: 100%;
}
#mining-dashboard > .row > [class*=col-] {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#mining-dashboard .block-list-wrap {
  display: flex;
  flex: 1;
  overflow: auto;
}
#mining-dashboard .block-list {
  flex: 1;
  padding: 0;
  position: relative;
  display: table;
  font-size: 0.8rem;
}
@media (min-width: 512px) {
  #mining-dashboard .block-list {
    font-size: 1rem;
  }
}
#mining-dashboard .block-list .list-item {
  display: table-row;
}
#mining-dashboard .block-list .list-item > div {
  display: table-cell;
  padding: var(--padding-sm);
  white-space: nowrap;
}
#mining-dashboard .block-list .list-item > div:first-child {
  padding-left: var(--padding);
}
#mining-dashboard .block-list .list-item > div:last-child {
  width: 0;
  padding-right: var(--padding);
  text-align: right;
}
#mining-dashboard .block-list .list-item.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-tile);
  box-shadow: var(--box-shadow);
}
#mining-dashboard .block-list .list-item.header > div {
  border-bottom: var(--border);
}
#mining-dashboard .block-list .list-item .pool > div {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}
#mining-dashboard .block-list.loading::after {
  content: "Loading data...";
  white-space: nowrap;
  color: var(--text);
  background: var(--bg-stat-tile);
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#mining-dashboard .block-list.no-data::after {
  content: "No data available.";
  white-space: nowrap;
  color: var(--text);
  background: var(--bg-stat-tile);
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#mining-dashboard .chart-grid {
  grid-gap: 1rem;
}
@media (min-height: 1500px) {
  #mining-dashboard .chart-grid {
    grid-gap: 2rem;
  }
}
#mining-dashboard .chart-grid .chart-container {
  overflow: hidden;
}
@media (min-width: 1440px) {
  #mining-dashboard .chart-grid .chart-container {
    flex: 1 1 0;
  }
}
#mining-dashboard .chart-grid .tile.loading:not(:first-child) {
  display: block;
}
#mining-dashboard .chart-grid .tile.no-data:not(:first-child) {
  display: block;
}
#mining-dashboard .mining-stats {
  flex: 1;
  margin-top: 1rem;
}
@media (min-height: 1500px) {
  #mining-dashboard .mining-stats {
    margin-top: 2rem;
  }
}
@media (max-height: 1500px) {
  #mining-dashboard .mining-stats .stats-grid .tile {
    padding: var(--padding-sm) var(--padding);
  }
  #mining-dashboard .mining-stats .stats-grid .tile .title {
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  #mining-dashboard .mining-stats .stats-grid .tile .stat {
    font-size: 1.4rem;
  }
}
#mining-dashboard .block-stats {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1rem;
}
@media (min-width: 976px) {
  #mining-dashboard .block-stats {
    display: flex;
  }
}
#mining-dashboard .block-stats .stat-rewards {
  background: var(--bg-stat-tile);
  padding: var(--padding);
  flex: 1;
}
#mining-dashboard .block-stats .stat-rewards:first-child {
  grid-column: span 2;
}
#mining-dashboard .block-stats .stat-rewards .stat {
  font-size: 2rem;
  font-weight: 600;
}
#mining-dashboard .block-stats .stat-rewards .stat .units {
  font-size: 0.8em;
  font-weight: 300;
  opacity: 0.6;
}
#mining-dashboard .address-details .save-address-control,
#mining-dashboard .address-details .header .qr-code,
#mining-dashboard .address-details .sent-received {
  display: none;
}
#mining-dashboard .address-details .stats-table :nth-child(4),
#mining-dashboard .address-details .stats-table :nth-child(5),
#mining-dashboard .address-details .stats-table :nth-child(6),
#mining-dashboard .address-details .stats-table :nth-child(7),
#mining-dashboard .address-details .stats-table :nth-child(8),
#mining-dashboard .address-details .stats-table :nth-child(9),
#mining-dashboard .address-details .stats-table :nth-child(10),
#mining-dashboard .address-details .stats-table :nth-child(11),
#mining-dashboard .address-details .stats-table :nth-child(12),
#mining-dashboard .address-details .stats-table :nth-child(13),
#mining-dashboard .address-details .stats-table :nth-child(14),
#mining-dashboard .address-details .stats-table :nth-child(15) {
  display: none;
}

.block-rewards-table {
  display: table;
  width: 100%;
  background: var(--bg-stat-tile);
  padding: var(--padding-sm);
  font-size: 0.8rem;
}
@media (min-width: 576px) {
  .block-rewards-table {
    font-size: 1rem;
  }
}
.block-rewards-table .list-item {
  display: table-row;
}
.block-rewards-table .list-item > div {
  display: table-cell;
  width: 25%;
  padding: var(--padding-sm);
  vertical-align: middle;
}
.block-rewards-table .list-item > div:first-child > div {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}

/*.ns {
    &::before {
        content: "NS";
        display: inline-block;
        background: var(--color-primary);
        color: #FFF;
        font-size: .7em;
        padding: 2px 3px;
        border-radius: 3px;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}*/
.offcanvas {
  --bs-offcanvas-bg: var(--bg-body);
}

.owned {
  display: inline-flex;
  align-items: center;
  background: var(--color-owner);
  color: #FFF;
  font-size: 0.9em;
  padding: 1px 4px;
  border-radius: 3px;
  margin-right: 0.25em;
  vertical-align: text-bottom;
  min-width: 1.5em;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  white-space: nowrap;
}
.owned::before {
  content: "\e174";
  font-family: "Material Icons";
  display: block;
}
.owned::after {
  content: attr(data-owner);
  font-size: 0.7em;
  margin-left: 0.25em;
  margin-top: 0.11em;
  text-transform: uppercase;
}
.owned.ns::before {
  content: "NS";
  font-family: inherit;
  /*display: inline-block;
  background: var(--color-primary);
  color: #FFF;
  font-size: .7em;
  padding: 2px 3px;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 0.5em;*/
}

.placeholder {
  vertical-align: inherit;
  opacity: 0.2;
  opacity: 0;
}

@keyframes placeholder-glow {
  50% {
    opacity: 0.1;
  }
}
.rich-list .list-item {
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .rich-list .list-item {
    grid-template-columns: min-content 1fr min-content;
  }
}
.rich-list .list-item .title {
  font-size: 0.7rem;
  opacity: 0.8;
}
.rich-list .list-item .rank {
  justify-self: flex-start;
  display: flex;
  grid-gap: 0.5rem;
}
.rich-list .list-item .rank .indicator {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background: var(--bg-stat-tile);
  font-size: 0.7rem;
  line-height: 1rem;
  border-radius: var(--border-radius);
}
.rich-list .list-item .owned {
  margin: 0;
}
.rich-list .list-item .address {
  word-break: break-all;
}
.rich-list .list-item .value {
  white-space: nowrap;
}
.rich-list .list-item .value .units {
  font-size: 0.8em;
  font-weight: 300;
  opacity: 0.6;
}
.rich-list .list-item .value-output {
  font-weight: 600;
}

.search-control {
  position: relative;
}
.search-control .icon {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: var(--color-primary);
}
.search-control input {
  padding-left: 2rem;
  border-color: var(--color-primary);
  font-size: 1rem;
}
@media (min-width: 622px) {
  .search-control input {
    min-width: 330px;
    padding-left: 2.5rem;
  }
}

.side-menu {
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /*.nav-link {
      border-radius: var(--border-radius);
      color: var(--text);
      border: var(--border);

      &:hover {
          background: var(--bg-body);
      }
  }*/
}
@media (min-width: 450px) {
  .side-menu {
    top: 1rem !important;
    bottom: 1rem !important;
    right: 1rem !important;
    border-radius: 0.5rem;
  }
}
.side-menu .offcanvas-header {
  background: var(--bg-tile);
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: var(--border);
}
.side-menu .list-title {
  padding-left: var(--padding);
}
.side-menu .nav-item + .nav-item {
  margin-top: 0.5rem;
}
.side-menu .tile-link + .tile-link {
  margin-top: 0.5rem;
}
.side-menu .tile-link p {
  margin: 0;
}
.side-menu .tile-link p + p {
  margin-top: 0.5rem;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
.stats-grid .tile > :nth-child(1) {
  font-size: 0.7rem;
  opacity: 0.8;
}

.dashboard-stats-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 0.5rem;
}
@media (min-width: 576px) {
  .dashboard-stats-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .dashboard-stats-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .dashboard-stats-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.dashboard-stats-grid.dashboard-price-stats-grid {
  grid-template-columns: 1fr;
}
@media (min-width: 400px) {
  .dashboard-stats-grid.dashboard-price-stats-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .dashboard-stats-grid.dashboard-price-stats-grid .stat-price {
    grid-column: 1/3;
  }
}
@media (min-width: 768px) {
  .dashboard-stats-grid.dashboard-price-stats-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .dashboard-stats-grid.dashboard-price-stats-grid .stat-price {
    grid-column: 1;
  }
}
@media (min-width: 992px) {
  .dashboard-stats-grid.dashboard-price-stats-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.dashboard-stats-grid.saved-addresses-stats-grid {
  grid-template-columns: 1fr;
}
.dashboard-stats-grid.saved-addresses-stats-grid .stat-txn-chart {
  display: block;
}
@media (min-width: 992px) {
  .dashboard-stats-grid.saved-addresses-stats-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .dashboard-stats-grid.saved-addresses-stats-grid .stat-block {
    grid-column: 1/3;
  }
  .dashboard-stats-grid.saved-addresses-stats-grid .stat-txn-chart {
    grid-column: 3/5;
  }
}
@media (min-width: 1200px) {
  .dashboard-stats-grid.saved-addresses-stats-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .dashboard-stats-grid.saved-addresses-stats-grid .stat-block {
    grid-column: 1;
  }
  .dashboard-stats-grid.saved-addresses-stats-grid .stat-txn-chart {
    grid-column: 2/4;
  }
}
.dashboard-stats-grid > div {
  background: var(--bg-stat-tile);
  padding: var(--padding);
}
.dashboard-stats-grid .stat-block {
  display: flex;
  flex-direction: column;
  background: none;
  grid-column: 1/3;
}
@media (min-width: 576px) {
  .dashboard-stats-grid .stat-block {
    grid-column: 1/3;
  }
}
@media (min-width: 768px) {
  .dashboard-stats-grid .stat-block {
    grid-column: 1;
  }
}
.dashboard-stats-grid .stat-block :nth-child(2) {
  font-size: 2rem;
  font-weight: 600;
}
.dashboard-stats-grid .stat-block :nth-child(3) {
  margin-bottom: auto;
}
.dashboard-stats-grid .stat-coins :nth-child(3) {
  margin-top: 1rem;
}
.dashboard-stats-grid .stat-supply :nth-child(3) {
  margin-top: 1rem;
}
.dashboard-stats-grid .stat-price {
  background: none;
}
.dashboard-stats-grid .stat-price :nth-child(2) {
  font-size: 2rem;
  font-weight: 600;
}
.dashboard-stats-grid .stat-price :nth-child(2)#coins-circulating {
  font-size: 1.6rem;
}
.dashboard-stats-grid .stat-txn-chart {
  background: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
}
@media (min-width: 576px) {
  .dashboard-stats-grid .stat-txn-chart {
    grid-column: 1/3;
  }
}
@media (min-width: 768px) {
  .dashboard-stats-grid .stat-txn-chart {
    grid-column: 1/4;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}
@media (min-width: 992px) {
  .dashboard-stats-grid .stat-txn-chart {
    grid-column: 4;
  }
}
.dashboard-stats-grid .stat-txn-chart .chart-container {
  position: relative;
  flex: 1;
  height: 150px;
}
.dashboard-stats-grid .stat-txn-chart .chart-container canvas {
  display: block;
}
.dashboard-stats-grid .title {
  font-size: 0.9rem;
  opacity: 0.8;
}

.pool-indicator {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 1000px;
  background: #f2f2f2;
  flex: 0 0 0.8rem;
}
@media (min-width: 512px) {
  .pool-indicator {
    width: 1rem;
    height: 1rem;
    flex: 0 0 1rem;
  }
}
.pool-indicator.pktpool {
  background: var(--pool-pktpool);
}
.pool-indicator.pktworld {
  background: var(--pool-pktworld);
}
.pool-indicator.pkteer, .pool-indicator.superphenix {
  background: var(--pool-pkteer);
}
.pool-indicator.zetahash {
  background: var(--pool-zetahash);
}

.save-address-control {
  position: relative;
  cursor: pointer;
}
.save-address-control::before {
  content: "\e83a";
  font-family: "Material Icons";
  display: block;
  font-size: 1.5rem;
  color: #FFF;
}
.save-address-control::after {
  content: "\e838";
  font-family: "Material Icons";
  display: block;
  font-size: 1.5rem;
  color: #FFF;
  position: absolute;
  opacity: 0;
  transition: var(--transition);
}
.save-address-control:hover::after {
  opacity: 0.5;
}
.save-address-control.saved::after {
  opacity: 1;
}
.save-address-control.saved:hover::after {
  transform: scale(1.1);
}
.save-address-control.saving::before {
  animation: saveAnimation 0.35s linear;
}
.save-address-control.saving::after {
  opacity: 1;
}

@keyframes saveAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.saved-address-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
@media (min-width: 768px) {
  .saved-address-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  .saved-address-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.saved-address-list .list-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  align-items: flex-start;
  /*@media (min-width: 992px) {
      grid-template-columns: 1fr min-content;
  }*/
}
.saved-address-list .list-item .title {
  font-size: 0.7rem;
  opacity: 0.8;
}
.saved-address-list .list-item .address {
  word-break: break-all;
  display: flex;
  align-items: center;
}
.saved-address-list .list-item .value {
  white-space: nowrap;
  /*.units {
      font-size: .8em;
      font-weight: 300;
      opacity: .6;
  }*/
}
.saved-address-list .list-item .footer {
  display: flex;
  grid-gap: 2rem;
  /*@media (min-width: 992px) {
      grid-column: 1/3;
  }*/
}
.saved-address-list .list-item .controls {
  margin-left: auto;
  display: flex;
}
.saved-address-list .list-item .controls .dropup {
  display: flex;
  align-self: flex-end;
}
.saved-address-list .list-item .controls button {
  border: none;
  background: none;
  padding: 0;
  color: inherit;
}
.saved-address-list .list-item .controls button .icon {
  display: block;
  opacity: 0.6;
}

.saved-address-empty-state .example-save-control-container {
  position: relative;
  padding-top: 17px;
  height: 240px;
  overflow: hidden;
}
.saved-address-empty-state .example-save-control-container .element-details {
  padding-bottom: 0;
  box-shadow: none;
}
.saved-address-empty-state .example-save-control-container .header {
  margin-bottom: 0 !important;
}
.saved-address-empty-state .example-save-control-container::after {
  content: "";
  background: linear-gradient(0deg, var(--bg-body) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
}
.saved-address-empty-state .try-control {
  display: inline-block;
  background: var(--color-secondary);
  color: var(--text-light);
  padding: var(--padding-sm) var(--padding);
  border-radius: var(--border-radius);
  position: relative;
  animation: pointAnimVertical 3s ease infinite forwards;
  right: -27px;
  top: -20px;
}
.saved-address-empty-state .try-control::before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 17px 16px 0 16px;
  border-color: var(--color-secondary) transparent transparent transparent;
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  .saved-address-empty-state .try-control {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    animation: pointAnimHorizontal 3s ease infinite forwards;
    right: -10px;
    top: 0;
  }
  .saved-address-empty-state .try-control::before {
    border-width: 20px 17px 20px 0;
    border-color: transparent var(--color-secondary) transparent transparent;
    left: -17px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@keyframes pointAnimHorizontal {
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes pointAnimVertical {
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.stats-table {
  display: grid;
  grid-template-columns: min-content auto;
}
.stats-table .title {
  font-size: 1rem;
  opacity: 1;
  color: #afafaf;
  color: var(--color-primary);
  white-space: nowrap;
}
.stats-table .title {
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.stats-table .value {
  padding: 0.5rem 0 0.5rem 0.5rem;
  text-align: right;
}
.stats-table .value .owned {
  margin: -2px 0;
}
.stats-table .line {
  grid-column: 1/3;
  border-bottom: 1px solid var(--border-color);
}

.status-indicator {
  display: flex;
  align-items: center;
  grid-gap: 0.25rem;
  justify-content: flex-end;
  /*&.orphaned {
      .icon {
          color: var(--color-orphaned);
      }
  }*/
}
.status-indicator.confirmed .icon {
  color: var(--color-confirmed);
}
.status-indicator.unconfirmed .icon {
  color: var(--color-unconfirmed);
}

.status-bar {
  background: #FFF;
  height: 1rem;
}
.status-bar span {
  display: block;
  width: 70%;
  height: 100%;
  background: var(--color-primary);
}

.form-switch {
  min-height: 0;
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}
.form-switch .form-check-input {
  margin-top: 0;
}
.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  box-shadow: 0 0 0 0.25rem rgba(77, 212, 172, 0.25);
  border-color: var(--border-color);
}
.form-switch .form-check-input:checked {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.form-switch .form-check-label {
  display: block;
}

.sync-error {
  text-align: center;
  font-size: 0.8rem;
  background: #dc3545;
  color: #FFF;
  padding: var(--padding-sm) var(--padding);
}

.tab-nav {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  flex-wrap: wrap;
}
.tab-nav *[data-target] {
  cursor: pointer;
  opacity: 0.5;
  margin-bottom: 0;
}
.tab-nav *[data-target].active {
  opacity: 1;
}
.tab-nav .list-title-sm.active + .form-check {
  visibility: hidden;
  pointer-events: none;
}

.transaction-list .list-item {
  margin-bottom: 0.5rem;
  padding: 0;
}
.transaction-list .list-item .title {
  font-size: 0.7rem;
  opacity: 0.8;
}
.transaction-list .list-item .header {
  display: grid;
  grid-template-columns: auto min-content min-content;
  grid-gap: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: var(--padding-sm);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.transaction-list .list-item .header .value {
  white-space: nowrap;
  font-weight: 600;
}
.transaction-list .list-item .header .value .units {
  font-size: 0.8em;
  font-weight: 300;
  opacity: 0.6;
}
.transaction-list .list-item .header .txid {
  word-break: break-all;
}
.transaction-list .list-item .header .type {
  display: flex;
  align-items: center;
}
.transaction-list .list-item .header .send-receive-stat {
  display: flex;
  align-items: center;
}
.transaction-list .list-item .header .send-receive-stat > span {
  margin: 0 0.25rem;
  font-size: inherit;
}
.transaction-list .list-item .footer {
  padding: var(--padding-sm);
}
.transaction-list .list-item.expanded .header {
  border-bottom: var(--border);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background: var(--bg-tile);
}

.no-transactions {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.no-transactions.no-further-transactions {
  height: auto;
  padding: 2rem 0;
}
.no-transactions .body {
  opacity: 0.5;
}
.no-transactions .icon {
  font-size: 30px;
}
.no-transactions .icon span {
  font-size: inherit;
}

.address-transaction-list .list-item {
  margin-bottom: 0.5rem;
  padding: 0;
}
.address-transaction-list .list-item .title {
  font-size: 0.7rem;
  opacity: 0.8;
}
.address-transaction-list .list-item .header {
  display: grid;
  grid-template-columns: min-content auto min-content min-content;
  grid-gap: 0.5rem;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--bg-list-item-header);
  z-index: 1;
  padding: var(--padding-sm);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border-bottom: var(--border);
  font-size: 0.8rem;
}
@media (min-width: 576px) {
  .address-transaction-list .list-item .header {
    grid-template-columns: min-content auto min-content min-content;
    font-size: 1rem;
  }
}
.address-transaction-list .list-item .header .value {
  white-space: nowrap;
  font-weight: 600;
}
.address-transaction-list .list-item .header .value .units {
  font-weight: 300;
  opacity: 0.6;
}
@media (min-width: 576px) {
  .address-transaction-list .list-item .header .value .units {
    font-size: 0.8em;
  }
}
.address-transaction-list .list-item .header .txid {
  word-break: break-all;
}
.address-transaction-list .list-item .header .type {
  display: flex;
  align-items: center;
}
.address-transaction-list .list-item .header .material-icons {
  display: block;
  font-size: 18px;
}
@media (min-width: 576px) {
  .address-transaction-list .list-item .header .material-icons {
    font-size: 24px;
  }
}
.address-transaction-list .list-item .send-receive-stat {
  display: flex;
  align-items: center;
}
.address-transaction-list .list-item .send-receive-stat > span {
  margin: 0 0.25rem;
  font-size: inherit;
}
.address-transaction-list .list-item .footer {
  display: flex;
  grid-gap: 0.5rem;
  padding: var(--padding-sm);
}
.address-transaction-list .list-item .footer > :nth-child(2) {
  margin-left: auto;
}
.address-transaction-list .list-item .footer .txid {
  margin-bottom: 0.5rem;
  word-break: break-all;
}
.address-transaction-list .list-item.expanded .header {
  border-radius: 4px 4px 0 0;
}
.address-transaction-list .list-item.expanded .footer {
  border-bottom: 1px solid var(--border-color);
}

.mining-income-list .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) 0;
}
.mining-income-list .list-item + .list-item {
  border-top: var(--border);
}
.mining-income-list .list-item .value {
  font-weight: 600;
}
.mining-income-list .list-item .value .units {
  font-weight: 300;
  opacity: 0.6;
}
@media (min-widthe: 576px) {
  .mining-income-list .list-item .value .units {
    font-size: 0.8em;
  }
}

#chart-mining-income-container .chart-container {
  height: 130px;
}

.io-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 1rem;
  padding: var(--padding-sm);
  background: var(--bg-io-list);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
@media (min-width: 576px) {
  .io-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.io-list .title {
  margin-bottom: 0.25rem;
}
.io-list .list-item {
  padding: var(--padding-sm);
  box-shadow: none;
  border: var(--border);
}
.io-list .list-item:last-child {
  margin-bottom: 0;
}
.io-list .list-item.list-item-coinbase {
  display: flex;
  align-items: center;
}
.io-list .list-item.list-item-coinbase .icon {
  color: var(--color-primary);
  margin-right: 0.5rem;
}
.io-list .address {
  min-width: 0;
  word-break: break-all;
}
@media (min-width: 576px) {
  .io-list .address {
    font-size: 0.8em;
  }
}
.io-list .value {
  white-space: nowrap;
  margin-left: auto;
  margin-top: 0.25em;
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}
.io-list .value > .value-pkt {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  background: var(--color-primary);
  padding: 1px 5px;
  border-radius: 3px;
  color: var(--text-io-list-value);
  font-size: 0.8rem;
}
@media (min-width: 576px) {
  .io-list .value > .value-pkt {
    font-size: 0.7rem;
  }
}

.truncated-address {
  display: flex;
  white-space: nowrap;
}
.truncated-address span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tx-type {
  display: inline-block;
}
.tx-type > span {
  display: block;
}
.tx-type.receive {
  color: var(--color-primary);
}
.tx-type.send {
  color: #eb3535;
}
.tx-type.folding {
  color: var(--color-orange);
}
.tx-type.folding span {
  font-size: 18px;
  transform: rotate(90deg);
}
.tx-type.change {
  padding: 1px 8px;
  border-radius: 1000px;
  color: var(--color-primary);
  font-size: 0.6rem;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--color-primary);
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */