@page
@model HoldersModel
@{
    ViewData["Title"] = "PKT Holders";
}

@section Header { 
    <meta name="twitter:title" content="PKT Holders" />
    <meta property="og:title" content="PKT Holders" />
    <meta property="og:description" content="All non-zero balance wallets. Ranked by balance." />
    <meta name="twitter:description" content="All non-zero balance wallets. Ranked by balance." />
    <meta property="description" content="All non-zero balance wallets. Ranked by balance." />
    <meta property="og:url" content="https://@Model.websiteDomain/holders/" />
}

<div class="main-content">
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1 class="list-title h6">PKT Holders</h1>
                <h2 class="list-subtitle h6 mt-2">All non-zero balance wallets. Ranked by balance.</h2>

                <div id="rich-list" class="rich-list placeholder-glow">
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                    <div class="list-item tile">
                        <div class="rank"><span class="placeholder hash">0</span></div>
                        <div class="address">
                            <span class="placeholder hash">-------------------------------------------</span>
                        </div>
                        <div class="value">
                            <span class="value-output"><span class="placeholder hash">------------------</span></span>
                        </div>
                    </div>
                </div>

                <button id="btnLoadMore" type="button" class="btn tile tile-link d-flex align-items-center justify-content-center flex-grow-1 d-none">
                    <div class="body">
                        <div class="content">
                            Load more addresses
                        </div>
                        <div class="control">
                            <span class="icon material-icons">chevron_right</span>
                        </div>
                    </div>
                    <div class="loading-state">
                        <span class="icon material-icons spin">autorenew</span>
                    </div>
                </button>

            </div>
        </div>
    </div>

</div>

@section Scripts {
<script>
    function initPage() {
        PAGE_RICH_LIST.init();
    }
</script>
}
