@page
@model SearchModel
@{
    ViewData["Title"] = "Search";
}

 <div class="main-content">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-8">
                
                <h3>Hmmmm, we couldn't find anything matching your search.</h3>
                <p class="mt-3">Try searching for an address, transaction hash, block height or block hash.</p>

                <div class="search-control mt-4">
                    <span class="icon material-icons">search</span>
                    <input type="text" class="form-control form-control-lg" placeholder="Search by Address / Txn Hash / Block">
                </div>
            </div>
        </div>
    </div>
</div>